* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

button {
  padding: 0.5rem 1rem;
}

.border {
  stroke: #000;
}

.hair {
  fill: red;
}
